<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="goodLine.android_vk" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="goodLine_test_dev"
        android:name=".util.VkApplication"
        android:supportsRtl="true"
        android:theme = "@style/MyTheme">


        <activity android:name="goodLine.android_vk.activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="goodLine.android_vk.activity.DialogActivity" >

        </activity>
    </application>

</manifest>
